{% load  i18n %}
<! DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href='./static/bootstrap-3.3.5/css/bootstrap.css' />
</head>
<body>
  <noscript>
      <div>
          This application requires JavaScript to be enabled on your web browser.
      </div>
  </noscript>
  {% block content %}
    <div id="container">
        <div class="topbar">
            {% include "_header.html" %}
        </div>
        <div class="main_content">
          {% block navbar %}
            {% include '_navbar.html' %}
          {% endblock %}
          <div id='content_body'>
            <div class="row">
              <div class="col-xs-12">
                {% block page_header %}

                {% endblock %}
                {% block main %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block js %}
      <script src="E:\myDaisyCloud\mysite\daisycloud\static\bootstrap-3.3.5\js/bootstrap.js"></script>
    {% endblock %}
    {% block css %}

    {% endblock %}
</body>
<html>