{% load i18n %}
{% load url from future %}

<div style="text-align:center;color:#333333;">
    <div style="text-align:center;">
        <h2>What is daisy?</h2>
    </div>
    <p><h3>Automate your Deployment and Management</h3></p>
    <p>
      Daisy is an open source deployment and management tool for OpenStack.
      Developed as an OpenStack community effort, it provides an intuitive,
      GUI-driven experience for deployment and management of OpenStack,
      related community projects and plug-ins.
    </p>
    <p style="margin-top:35px;">
        <img src="./static/img/daisy_frame.png">
    </p>
    <a type="button" class="btn btn-large" href="#section2"
            style="width:132px;height:45px;margin-top:30px;padding-top:10px;background:#fdd002;color:#333333;">
        Learn more
    </a>
</div>