{% load i18n %}
{% load url from future %}

<div>
<div style="margin-top:15px;"><h1>What is daisy?</h1></div>
  <p><h3>Automate your Deployment and Management</h3></p>
  <p>
      Daisy is an open source deployment and management tool for OpenStack.
      Developed as an OpenStack community effort, it provides an intuitive,
      GUI-driven experience for deployment and management of OpenStack,
      related community projects and plug-ins.
  </p>
  <p>
      Daisy brings consumer-grade simplicity to streamline and accelerate
      the otherwise time-consuming, often complex, and error-prone process
      of deploying, testing and maintaining various configuration flavors
      of OpenStack at scale. Unlike other platform-specific deployment or
      management utilities, Daisy is an upstream OpenStack project that
      focuses on automating the deployment and testing of OpenStack and
      a range of third-party options, so it’s not compromised by hard bundling
      or vendor lock-in.
  </p>
  <p>
     <img src="./static/img/daisy_arcit.JPG">
  </p>
      <a type="button" class="btn btn-info" href="https://wiki.openstack.org/wiki/Daisy">Learn more....</a>
</div>