{% load i18n %}
{% load url from future %}

<div>
    <h1>Develop Document</h1>
    <p>
        现在支持的功能列表
     <!--img src="./static/img/daisy1.png"-->
    </p>
    <p>daisy-core模块</p>
    <p>daisy-wui模块</p>
    <p>
        <a href="https://wiki.openstack.org/wiki/Daisy">details link</a>
    </p>
    <p>
         <audio src="./static/files/yoursmail.mp3" controls autoplay loop>
             HTML5 audio not supported
         </audio>
         <vedio align="middle"  width="332" height="68" src="./static/files/daisy.mp4">
                 <source type=video/mp3 /> Your browser does not support the video tag.
         </vedio>
    </p>
    <p>
        <embed src="http://player.youku.com/player.php/sid/XMTUxOTM1NTAyNA==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    </p>
</div>