{% load i18n %}
{% load url from future %}
<div class="container">
<div class="row">
    <div class="col-md-4" style="margin-top:10px;">
        <h2 style="color:rgb(107, 194, 63);">Following steps:</h2>
        <div style="padding-left:70px;padding-top:10px;">
            <img src="./static/img/download.ico">
        </div>
    </div>
    <div class="col-md-8">
      <div style="margin-top:40px;">
        <h3 style="color:rgb(126, 194, 119);">Get Daisy ISO</h3>
        <div class="downloadbox">
            <div style="font-size:22px;">
                Daisy-community-1.0
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-2" >
                <span class="badge" style="background:rgb(157, 198, 132) none repeat scroll 0% 0%;">
                    <a href="./static/files/installdaisy_el7_noarch.bin">
                        get&nbsp;&nbsp; Release
                    </a>
                </span>
              </div>
              <div>
                <span class="badge" style="background:rgb(157, 198, 132) none repeat scroll 0% 0%;">
                    <a href="./static/files/demo_how_to.docx">
                        config & deploy doc
                    </a>
                </span>
            </div>
            </div>
        </div>
      </div>
      <!--div style="margin-top:35px;">
        <h3 style="color:rgb(126, 194, 119);">Get Openstack ISO</h3>
        <div  class="downloadbox">
            <div style="font-size:22px;">
                Openstack-community-M
            </div>
            <p>
                <span class="badge" style="background:rgb(157, 198, 132) none repeat scroll 0% 0%;">
                    <a href="./static/files/CentOS-7-x86_64-Minimum.iso">
                        get&nbsp;&nbsp; Release
                    </a>
                </span>
            </p>
        </div>
      </div-->
      <div style="margin-top:35px;">
        <h3 style="color:rgb(126, 194, 119);">Get OS ISO</h3>
        <div class="downloadbox">
            <div style="font-size:22px;">
                centos7.0
            </div>
            <p>
                <span class="badge" style="background:rgb(157, 198, 132) none repeat scroll 0% 0%;">
                    get&nbsp;&nbsp; Release
                </span>
            </p>
        </div>
      </div>
    </div>
</div>
</div>

<script>

</script>
