<html>
  <head>
    <link rel="stylesheet" type="text/css" href='./static/bootstrap-3.3.5/css/bootstrap.css'/>
    <script src="./static/bootstrap-3.3.5/js/bootstrap.js"></script>
    <script src="./static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="./static/jquery/jquery-2.1.1.min.js"></script>
  </head>
  <body style="position: relative;" data-spy="scroll" data-target=".navbar" data-offset="50" >
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class=""  style="font-size:19px;position:fixed;background-color:black;">
                 <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav">
                         <li><a href="/#DaisyAbout">Daisy</a></li>
                         <li><a href="#document">Document</a></li>
                         <li><a href="#api">API</a></li>
                         <li><a href="#download">Download</a></li>
                         <li><a href="#demo">Demo</a></li>
                     </ul>
                 </div>
             </div>
           </div>
      </nav>
      <!--div  style="width:1170px;padding-top:20px;padding-left:300px;overflow:auto;position:relative" data-spy="scroll" data-target="#navBar" data-offset="0"-->
         <div spy="scroll" data-target=".navbar" data-offset="12" class="" style="width:1440px;height:580px;padding-top:80px;text-align:center;background-color:Gray;">
           <div style="height:500px;width:80px;padding-right:142px;float:left;background-color:Gray;"></div>
           <div style="padding-top:2px;">
            <img src="./static/img/leaf2.jpg" class="img-responsive" alt="Responsive image">
           </div>
         </div>
         <div id="DaisyAbout" class="jumbotron" style="height:500px;border-bottom:2px,groove,yellow;">
          <h1>what is daisy?let me tell you.</h1>
        </div>
        <div id="document" class="jumbotron" style="height:500px;">
          <h1>Hello, DOC.</h1>
        </div>
        <div id="api" class="jumbotron" style="height:500px;">
          <h1>Hello, API</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <div id ="download" class="jumbotron" style="height:500px;">
          <h1>Hello, Download!</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <div id ="demo" class="jumbotron" style="height:500px;">
          <h2>Hello,I am a placeholder for Demo!</h2>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
  </body>
</html>

