{% load i18n %}
{% load url from future %}

<style>
    .joinIn_bg {
        height:auto!important;
        min-height:400px;
        background-image:url(./static/img/doubt.png);
        background-repeat: no-repeat;
        background-position:right;
    }
    .title_level_one {
        margin-top: 10px;
        text-align: center;
        color: #333333;
        margin-bottom:20px;
    }
    .title_level_two {
        font-size: 16px;
        color: #0e7b65;
        padding-top: 20px;
    }
    .title_level_three {
        font-size: 14px;
        color: #333333;
    }
</style>

<div id="developer" class="joinIn_bg">
  <div class="title_level_one">
        <h2>How to join in us</h2>
  </div>
  <div id="develop_steps">
      <div id="prepare_steps" class="col-md-5 col-md-offset-1">
          <div id="prepare_steps_title">
              <p class="title_level_two">
                  Preparatory work
              </p>
          </div>
          <div id="prepare_steps_content">
              <div>
                  <div id="content_title">
                      <p class="title_level_three" id="showTest" onclick="account_toggle()">
                          <img src="./static/img/dot.PNG">
                          Account setup   &nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="account_about" hidden style="padding-left:20px;">
                    <p>First of all, you will need a <a class="" href="https://launchpad.net/+login">Launchpad account</a>.</p>
                    <p><a href="https://www.openstack.org/join/">Join The OpenStack Foundation,</a> remeber use the same email address as step one.</p>
                    <p>Visit <a href="https://review.openstack.org/">https://review.openstack.org/ </a>and click the "Sign In",Log in with your Launchpad ID.The first time you login OpenStack's Gerrit, you will nee to select a unique username.</p>
                    <p><a href="https://review.openstack.org/#/settings/aggrements">Agree to the Individual Contributor License Agreement</a> and provide contact information.</p>
                  </div>
              </div>
              <div>
                  <div id="git_install_title">
                      <p class="title_level_three" id="showGitInstall" onclick="git_content_toggle()">
                          <img src="./static/img/dot.PNG">
                          Install git and config git&nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="git_install_content" hidden style="padding-left:20px;">
                      <p>Install git</p>
                      <p style="padding-left:20px;">For Centos:  yum install git</p>
                      <p style="padding-left:20px;">For Ubuntu:  apt-get install git</p>
                      <p>git config</p>
                      <p style="padding-left:20px;">git config --global user.name "Firstname Lastname"</p>
                      <p style="padding-left:20px;">git config --global user.email "your_email@youremail.com"</p>
                  </div>
              </div>
              <div>
                  <div id="git-review_title">
                      <p class="title_level_three" id="showGitReviewInstall" onclick="gitReview_content_toggle()">
                          <img src="./static/img/dot.PNG">
                          Installing git-review&nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="git-review_content" hidden style="padding-left:20px;">
                      <p>For centos : apt-get install git-review</p>
                      <p>For Ubuntu : yum install git-review</p>
                  </div>
              </div>
          </div>
      </div>
      <div id="work_steps" class="col-md-5 col-md-offset-1">
          <div id="work_step_title">
               <p class="title_level_two">
                   Begin work with Daisy
               </p>
          </div>
          <div id="work_step_content">
              <div id="work_one">
                  <div id="clone_title">
                     <p class="title_level_three" id="showCloneContent" onclick="Clone_Content_toggle()">
                         <img src="./static/img/dot.PNG">
                         Clone code&nbsp;&nbsp; &nbsp;&nbsp;
                         <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="clone_content" hidden style="padding-left:20px;">
                      <p>git clone https://git.openstack.org/openstack/daisycloud-core</p>
                      <p>git config --global gitreview.username yourgerritusername</p>
                      <p></p>
                      <p>In case you had already tried to setup git-review and it failed, it might be necessary to remove the Gerrit remote from git:</p>
                      <p>git remote rm gerrit</p>
                  </div>
              </div>
              <div id="work_two">
                  <div id="change_title">
                      <p class="title_level_three" id="showChangeContent" onclick="Change_Content_toggle()">
                          <img src="./static/img/dot.PNG">
                          Starting a change&nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="change_content" hidden style="padding-left:20px;">
                      <p>Starting a change details.</p>
                      <p>work on bugs,modify code locally.</p>
                      <p></p>
                  </div>
              </div>
              <div id="work_three">
                  <div id="commit_title">
                      <p class="title_level_three" id="showCommitContent" onclick="Change_Commit_toggle()">
                          <img src="./static/img/dot.PNG">
                          Committing a change&nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="commit_content" hidden style="padding-left:20px;">
                      <p>Committing a change details.</p>
                      <p>git commit -am "change messages"</p>
                  </div>
              </div>
              <div id="work_four">
                  <div id="submit_title">
                      <p class="title_level_three" id="showSubmitContent" onclick="Change_Submit_toggle()">
                          <img src="./static/img/dot.PNG">
                          Submitting a change for review&nbsp;&nbsp; &nbsp;&nbsp;
                          <img src="./static/img/detail.png">
                      </p>
                  </div>
                  <div id="submit_content" hidden style="padding-left:20px;">
                      <p>git review</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
    function account_toggle(){
        $("#account_about").toggle();
    }

    function git_content_toggle(){
        $("#git_install_content").toggle();
    }

    function gitReview_content_toggle(){
        $("#git-review_content").toggle();
    }

    function Clone_Content_toggle(){
         $("#clone_content").toggle();
    }

    function Change_Content_toggle(){
        $("#change_content").toggle();
    }

    function Change_Commit_toggle(){
        $("#commit_content").toggle();
    }

    function Change_Submit_toggle(){
        $("#submit_content").toggle();
    }
</script>