{% load i18n %}
{% load url from future %}

<style>
    .top_bg {
        color: white;
        margin-top: 70px;
        height:auto!important;
        min-height: 476px;
        width:100%;
        background-image: url(./static/img/daisy_bg.png);
        background-size: cover;
        background-position: center center;

    }
    .link_btn {
        width:132px;height:45px;float:left;margin-top:20px;padding-top:10px;font-size:12px;
    }
    .link_btn > a:hover {
        text-decoration:none ;
        } 
    .link_btn > a:focus {
        text-decoration:none ;
        outline: none;
        -moz-outline:none;
        }
</style>

<div >
<div class="row top_bg">
      <div class="col-md-3 col-md-offset-2" style="padding-top:90px;">
          <h1 style="font-size:56px;color:#fdd002">
              <b>Daisy</b>
          </h1>
          <div style="padding-top:17px;padding-bottom:24px;color:#dfe0de;font-size:14px">
              <div>
                  Provides automated deployment and management of
              </div>
              <div style="padding-top:20px;">
                  OpenStack and other distributed systems
              </div>
          </div>
          <div class="link_btn" style="background-image:url(./static/img/btn_transp.png);
            padding-left:15px;">
              <a  style="color:#dfe0de;"
                     href="https://launchpad.net/daisycloud-core">
                  Report a bug
              </a>
          </div>
          <div class="link_btn" style="margin-left:30px;background-image:url(./static/img/btn_transp.png);
            padding-left:25px;">
              <a style="color:#dfe0de;"
                 href="https://github.com/openstack/daisycloud-core">
                  Glone code
              </a>
          </div>
      </div>
</div>
</div>