{% load i18n %}
{% load url from future %}


<div style="height:550px;background-size:1440px 546px;background-image:url(./static/img/ok1.png)">
      <div style="padding-top:200px;padding-left:240px;">
          <h1 style="font-size:56px;"><b>Daisy</b></h1>
          <p font-size="30px">
            <h3>
              Provides automated deployment and management of OpenStack and other distributed systems
            </h3>
          </p>
          <a type="button" class="btn btn-large btn-info" href="https://launchpad.net/daisy" style="margin-top:20px;">Begin with bugs</a>
          <a type="button" class="btn btn-large btn-info" href="https://github.com/openstack/daisycloud-core" style="margin-top:20px;margin-left:15px;">Glone code</a>
      </div>
</div>