{% load i18n %}
{% load url from future %}


<div style="color:white;margin-top:70px;height:476px;background-image:url(./static/img/daisy_bg.png);background-size:cover;">
      <div style="padding-top:90px;padding-left:300px;">
          <h1 style="font-size:56px;color:#fdd002">
              <b>Daisy</b>
          </h1>
          <div style="padding-top:17px;padding-bottom:24px;color:#dfe0de;font-size:14px">
              <div>
                  Provides automated deployment and management of
              </div>
              <div style="padding-top:20px;">
                  OpenStack and other distributed systems
              </div>
          </div>
          <div style="width:132px;height:45px;float:left;margin-top:20px;background-image:url(./static/img/btn_transp.png)">
              <a type="button" class="btn btn-large"
                     style="padding-top:10px;color:#dfe0de;font-size:12px;"
                     href="https://launchpad.net/daisycloud-core">
                  Begin with bugs
              </a>
          </div>
          <div style="margin-left:30px;float:left;width:132px;color:#dfe0de;height:45px;margin-top:20px;background-image:url(./static/img/btn_transp.png)">
              <a type="button" class="btn btn-large"
                 style="padding-top:10px;padding-left:25px;color:#dfe0de;font-size:12px;"
                 href="https://github.com/openstack/daisycloud-core">
                  Glone code
              </a>
          </div>
      </div>
</div>